language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install

script:
  - vendor/bin/phpunit

cache:
  directories:
    - $COMPOSER_CACHE_DIR
